.movie-card {
  padding: 1rem;
  display: inline-block;
}
  .img{
    position: relative
  }
  img {
    height: 450px
  }
.movie-card__score {
  position: absolute;
  bottom:15px;
  background-color: #F8C845;
  color: white;
  padding: 5px;
  margin-left: 10px
}
.movie-card__detail {
  color:white;
  margin: 1rem 0
  
}
  .movie-card__release-date {
    color:#6A7075
  }